<a href="https://colab.research.google.com/github/vilacco/gradient_boosting/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [102]:
import pandas as pd
import numpy as np 
from sklearn.datasets import make_regression
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.tree import DecisionTreeRegressor

In [4]:
x, y = make_regression(n_samples = 10, n_features = 3, n_targets = 1)

In [5]:
df = pd.DataFrame(x)
df['y_true'] = y

In [26]:
df['y_predicted'] = df['y_true'].mean()

In [72]:
MAE_0 = mean_absolute_error(df['y_true'], df['y_predicted'])

In [73]:
MAE_0

50.11459940994148

In [55]:
df['residual'] = df['y_true'] - df['y_predicted']

In [29]:
D_tree = DecisionTreeRegressor(max_depth= 1)

In [43]:
D_tree.fit(df[[0, 1, 2]], df['residual'])

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=1,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [44]:
df['tree_prediction'] = D_tree.predict(df[[0, 1, 2]])

In [33]:
l_rate = 0.1

In [56]:
df['y_predicted_1'] = df['y_predicted'] + l_rate * df['tree_prediction']

In [76]:
MAE_1 = mean_absolute_error(df['y_true'], df['y_predicted_1'])

In [79]:
MAE_0, '    ', MAE_1

(50.11459940994148, '    ', 46.90667675283993)

In [59]:
df['residual_1'] = df['y_true'] - df['y_predicted_1']

In [61]:
df.drop('y_predicted_', axis=1, inplace=True)

In [62]:
df = df[[0, 1, 2, 'y_true', 'y_predicted', 'residual', 'tree_prediction', 'y_predicted_1', 'residual_1']]

In [64]:
D_tree_1 = DecisionTreeRegressor(max_depth=1)

In [88]:
D_tree_1.fit(df[[0, 1, 2]], df['residual_1'])

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=1,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [89]:
df['y_predicted_2'] = df['y_predicted_1'] + l_rate * D_tree_1.predict(df[[0, 1, 2]])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
df

          0         1         2  ...  y_predicted_1  residual_1  y_predicted_2
0 -0.189095 -0.590133 -0.292619  ...       8.164066  -50.737859       3.706678
1  1.268815 -0.229009  0.719377  ...      18.857142   43.238206      23.314530
2  0.351561  1.628338 -0.391306  ...      18.857142   58.939701      23.314530
3  0.714509  0.295048  1.276370  ...      18.857142   58.997429      23.314530
4  1.498093  0.039064  0.749003  ...      18.857142   65.750522      23.314530
5 -0.582368 -1.488975 -0.441633  ...       8.164066 -111.910235       3.706678
6 -0.457270  0.041965  0.281497  ...      18.857142  -28.377817      14.399753
7 -0.233820 -0.635062  0.266233  ...       8.164066  -39.451034       3.706678
8 -0.333473  0.601392  0.483084  ...      18.857142    7.607526      14.399753
9  0.351990 -0.114713  0.195635  ...      18.857142   -4.056440      23.314530

[10 rows x 10 columns]

In [82]:
MAE_2 = mean_absolute_error(df['y_true'], df['y_predicted_2'])

In [83]:
MAE_1, '    ', MAE_2

(46.90667675283993, '    ', 44.23224373116041)

In [106]:
df_1 = df[[0, 1, 2, 'y_true']].copy()

In [ ]:
n = 1000
l_rate = 0.1
tree_list = []
MAE_list = []
df_1['y_predicted'] = df_1['y_true'].mean()

for i in range (n):
    df_1['residual'] = df_1['y_true'] - df_1['y_predicted']
    tree = DecisionTreeRegressor(max_depth=1)
    tree.fit(df_1[[0, 1, 2]], df_1['residual'])
    df_1['y_predicted'] += l_rate * tree.predict(df_1[[0, 1, 2]])
    tree_list.append(tree)
    MAE_list.append(mean_absolute_error(df_1['y_true'], df_1['y_predicted']))
    print(mean_absolute_error(df_1['y_true'], df_1['y_predicted']))

In [111]:
min(MAE_list)

0.004332529934911911

In [112]:
df_1

          0         1         2      y_true  y_predicted  residual
0 -0.189095 -0.590133 -0.292619  -42.573793   -42.586961  0.013389
1  1.268815 -0.229009  0.719377   62.095347    62.094580  0.000988
2  0.351561  1.628338 -0.391306   77.796842    77.796802 -0.000107
3  0.714509  0.295048  1.276370   77.854571    77.852991  0.001433
4  1.498093  0.039064  0.749003   84.607664    84.602570  0.004947
5 -0.582368 -1.488975 -0.441633 -103.746168  -103.740859 -0.005089
6 -0.457270  0.041965  0.281497   -9.520675    -9.521110  0.000288
7 -0.233820 -0.635062  0.266233  -31.286968   -31.286291 -0.000456
8 -0.333473  0.601392  0.483084   26.464667    26.463902  0.000618
9  0.351990 -0.114713  0.195635   14.800702    14.816566 -0.016011

In [113]:
test = df[[0,1,2]].copy()

In [114]:
test['y_pedicted'] = df['y_true'].mean()

In [115]:
for tree in tree_list:
    test['y_pedicted'] += l_rate * tree.predict(test[[0,1,2]])

In [116]:
test

          0         1         2  y_pedicted
0 -0.189095 -0.590133 -0.292619  -42.586961
1  1.268815 -0.229009  0.719377   62.094580
2  0.351561  1.628338 -0.391306   77.796802
3  0.714509  0.295048  1.276370   77.852991
4  1.498093  0.039064  0.749003   84.602570
5 -0.582368 -1.488975 -0.441633 -103.740859
6 -0.457270  0.041965  0.281497   -9.521110
7 -0.233820 -0.635062  0.266233  -31.286291
8 -0.333473  0.601392  0.483084   26.463902
9  0.351990 -0.114713  0.195635   14.816566